Repository Cybersun-Industries/Radium-Build, pull requests merged in 2024-07, with the labels that each got.

#189 Отключение авто-эвака через время (запрос в войсе от Condor134)
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Changes: Sprites, Changes: Localization, No C#, Changes: UI, Changes: Map

#190 now health analyzer locale is doing it's job. yay!
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
Labels: Changes: Sprites, Changes: Localization, No C#, Changes: UI, Changes: Map

#192 Починил гайдбук (надеюсь), добавил плейсхолдер страницы с правилами
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Radium/Entities/Structures/Power/Generation/Singularity/maxwell_singularity_sprite_only.yml
  Resources/Prototypes/Radium/Guidebook/rules.yml
  Resources/Prototypes/_Backmen/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/RulesRadium.xml
Labels: Changes: Sprites, Changes: Localization, No C#, Changes: UI, Changes: Map

#199 HealthScanner now shows hurt limbs!
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Radium/Medical/Surgery/UI/Widgets/DamagePartsUi.xaml.cs
  Content.Client/Radium/Medical/Surgery/UI/Widgets/Systems/ClientDamagePartsSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Radium/Medical/Surgery/Systems/ServerDamagePartsSystem.cs
  Content.Server/Radium/Medical/Surgery/Systems/SurgerySystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Content.Shared/Radium/Medical/Surgery/Systems/DamagePartsSystem.cs
Labels: Changes: Sprites, Changes: Localization, No C#, Changes: UI, Changes: Map

#200 Обновлены маркировки ПР и действия репозитория.
  .github/labeler.yml
  .github/rsi-schema.json
  .github/workflows/conflict-labeler.yml
  .github/workflows/label-PR.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/laberer-needsreview.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/update-credits.yml
  .github/workflows/validate-mapfiles.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Nyanotrasen/Effects/attributions.yml
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/attributions.yml
  Resources/Audio/Nyanotrasen/Voice/Talk/attributions.yml
  Resources/Prototypes/_Backmen/lobbyscreens.yml
  Resources/Textures/Backmen/LobbyScreens/atmos.png
  Resources/Textures/Backmen/LobbyScreens/atmos.yml
  Resources/Textures/Backmen/LobbyScreens/attributions.yml
  Resources/Textures/Backmen/LobbyScreens/boom.png
  Resources/Textures/Backmen/LobbyScreens/boom.yml
  Resources/Textures/Backmen/LobbyScreens/capoleon.png
  Resources/Textures/Backmen/LobbyScreens/capoleon.yml
  Resources/Textures/Backmen/LobbyScreens/kissme.jpg
  Resources/Textures/Backmen/LobbyScreens/kissme.yml
  Resources/Textures/Backmen/LobbyScreens/medics.png
  Resources/Textures/Backmen/LobbyScreens/medics.yml
  Resources/Textures/Backmen/LobbyScreens/mosley.png
  Resources/Textures/Backmen/LobbyScreens/mosley.yml
  Resources/Textures/Backmen/LobbyScreens/pivo.png
  Resources/Textures/Backmen/LobbyScreens/pivo.yml
  Resources/Textures/Backmen/LobbyScreens/singularity.yml
  Resources/Textures/Backmen/LobbyScreens/twix.png
  Resources/Textures/Backmen/LobbyScreens/twix.yml
  Resources/Textures/Backmen/LobbyScreens/utilizer.png
  Resources/Textures/Backmen/LobbyScreens/utilizer.yml
  Tools/dump_github_contributors.ps1
Labels: Changes: Sprites, Changes: Localization, No C#, Changes: UI, Changes: Map

#212 Fix changeling
  Content.Client/Radium/Changeling/UI/ChangelingDnaStorageBoundUserInterfaceTransform.cs
  Content.Client/Radium/Changeling/UI/ChangelingStorage.xaml.cs
  Content.Server/Radium/Changeling/EntitySystems/ChangelingSystem.Abilities.cs
  Content.Server/Radium/Changeling/EntitySystems/ChangelingSystem.Helpers.cs
  Content.Server/Radium/Changeling/EntitySystems/ChangelingSystem.cs
  Content.Server/Radium/Medical/Surgery/Systems/SurgerySystem.cs
  Resources/Prototypes/Radium/Actions/types.yml
  Resources/Prototypes/Radium/Entities/Mobs/Player/human.yml
Labels: Changes: UI

#215 Changeling final fix
  Content.Client/Radium/Changeling/ChangelingSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Radium/Changeling/EntitySystems/ChangelingSystem.Abilities.cs
  Content.Server/Radium/Changeling/EntitySystems/ChangelingSystem.cs
  Content.Shared/Radium/Changeling/Components/ChangelingComponent.cs
  Resources/Locale/ru-RU/radium/roles/changeling/changeling.ftl
  Resources/Prototypes/Actions/polymorph.yml
  Resources/Prototypes/Radium/Actions/types.yml
  Resources/Prototypes/Radium/StatusIcon/antag.yml
Labels: Changes: Localization

#218 Fix secret
  Content.Server/Radium/Changeling/StationEvents/ChangelingRule.cs
  Resources/Prototypes/game_presets.yml
Labels: No C#
