Repository Cybersun-Industries/Radium-Build, pull requests merged in 2024-08, with the labels that each got.

#220 Signs translation
  Resources/Textures/Structures/Wallmounts/signs.rsi/ai.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/ai_upload.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/anomaly.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/anomaly2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/arcade.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/armory.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/ass.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/bar.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/barbershop.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/biblio.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/bridge.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/cans.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/cargo.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/cargo_dock.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/chapel.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/chem.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/cloning.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/commander.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/conference_room.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/cryo.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/data.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/dock.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/drama1.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/drama2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/drama3.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/eng.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/engine.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/eva.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/gravi.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/hydro.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/interrogation.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/kitchen.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/laundromat.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/mail.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/mats.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/medbay.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/morgue.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/news.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/prison.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/reception.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/restroom.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/rnd.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/robo.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/salvage.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/sci.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/surgery.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/telecoms.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/toxins.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/vault.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/virology.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/xenoarch.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/zomlab.png
Labels: Changes: Sprites, No C#

#221 Gas tanks retexture
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/icon-on.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/icon.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/on-equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_double.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_double_red.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_extended.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_extended_red.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/icon.png
  Resources/Textures/Objects/Tanks/generic.rsi/icon.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/icon.png
  Resources/Textures/Objects/Tanks/plasma.rsi/icon.png
  Resources/Textures/Objects/Tanks/red.rsi/icon.png
  Resources/Textures/Objects/Tanks/red.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/red.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#225 Update attributions.yml
  Resources/Textures/Backmen/LobbyScreens/attributions.yml
Labels: No C#

#226 Slugcat fix
  Resources/Prototypes/Radium/Entities/Mobs/Player/slugcat.yml
Labels: No C#

#228 Vampire translations fixes
  Resources/Locale/ru-RU/backmen/store/vampire.ftl
Labels: Changes: Localization, No C#

#230 Succubus tail shading
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/succubus.png
Labels: Changes: Sprites, No C#

#219 jukebox expanded
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/Radium/Catalog/Jukebox/Standard.yml
Labels: No C#

#232 Felinid rabalance
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
Labels: No C#
