Repository Cybersun-Industries/Radium-Build, pull requests merged in 2024-04, with the labels that each got.

#128 localization changed
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/plastic_flaps.ftl
Labels: Changes: Localization, No C#

#129 fix upstream
  Resources/Locale/ru-RU/radium/store/category.ftl
  Resources/Locale/ru-RU/radium/store/uplink-catalog.ftl
  Resources/Prototypes/Backmen/Catalog/uplink_catalog.yml
  Resources/Prototypes/Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#109 MegaUpdate IBoss
  Resources/Audio/Radium/Lavaland/explosion1.ogg
  Resources/Audio/Radium/Lavaland/license.txt
  Resources/Audio/Radium/Lavaland/meteorimpact.ogg
  Resources/Audio/Radium/Lavaland/pop_expl.ogg
  Resources/Audio/Radium/Lavaland/space_dragon_roar.ogg
  Resources/Audio/Radium/Lavaland/tendril_destroyed.ogg
  Resources/Locale/ru-RU/radium/prototypes/entities/mobs/npcs/Humanbosses.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Radium/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Radium/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Radium/Entities/Mobs/NPCs/Humanbosses.yml
  Resources/Prototypes/Radium/Entities/Mobs/demon/demon.yml
  Resources/Prototypes/Radium/Roles/Jobs/Misc/Miner_boss.yml
  Resources/Prototypes/Radium/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Radium/Mobs/Demons/legion.rsi/alive.png
  Resources/Textures/Radium/Mobs/Demons/legion.rsi/dead.png
  Resources/Textures/Radium/Mobs/Demons/legion.rsi/meta.json
  Resources/Textures/Radium/Mobs/Demons/legionMin.rsi/alive.png
  Resources/Textures/Radium/Mobs/Demons/legionMin.rsi/dead.png
  Resources/Textures/Radium/Mobs/Demons/legionMin.rsi/meta.json
  Resources/Textures/Radium/Mobs/Ghosts/demon.rsi/dead.png
  Resources/Textures/Radium/Mobs/Ghosts/demon.rsi/demon.png
  Resources/Textures/Radium/Mobs/Ghosts/demon.rsi/icon.png
  Resources/Textures/Radium/Mobs/Ghosts/demon.rsi/meta.json
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/bubblegum.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/dragon.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/dragon_dead.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/dragon_shadow.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/dragon_swoop.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/eva.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/eva_attack.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/mega_legion.png
  Resources/Textures/Radium/Mobs/Lavaland/96x96megafauna.rsi/meta.json
  Resources/Textures/Radium/Mobs/Lavaland/drake_down.rsi/drake_down.png
  Resources/Textures/Radium/Mobs/Lavaland/drake_down.rsi/meta.json
  Resources/Textures/Radium/Mobs/Lavaland/telegraph.rsi/bite.png
  Resources/Textures/Radium/Mobs/Lavaland/telegraph.rsi/hoarder_circle.png
  Resources/Textures/Radium/Mobs/Lavaland/telegraph.rsi/meta.json
  Resources/Textures/Radium/Mobs/Lavaland/telegraph.rsi/safe.png
  Resources/Textures/Radium/Mobs/Lavaland/telegraph.rsi/skull.png
  Resources/Textures/Radium/Mobs/Lavaland/telegraph.rsi/target_circle.png
Labels: Changes: Sprites, Changes: Localization, No C#

#147 Killer tomatoes fix
  Resources/Locale/ru-RU/radium/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Prototypes/Backmen/Entities/Mobs/NPC/mutants.yml
  Resources/Prototypes/Backmen/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Backmen/Hydroponics/seeds.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Textures/Backmen/Mobs/Mutants/killer_tomato.rsi/seed.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#136 Slugcats
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Audio/Radium/Animals/Slugcat/wawa_chatter.ogg
  Resources/Audio/Radium/Animals/Slugcat/wawa_chillin.ogg
  Resources/Audio/Radium/Animals/Slugcat/wawa_exclaim.ogg
  Resources/Audio/Radium/Animals/Slugcat/wawa_statement.ogg
  Resources/Locale/ru-RU/radium/accents/accents.ftl
  Resources/Locale/ru-RU/radium/prototypes/entities/mobs/player/slugcat.ftl
  Resources/Locale/ru-RU/radium/reagents/fun.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Radium/Accents/full_replacements.yml
  Resources/Prototypes/Radium/Entities/Mobs/Player/slugcat.yml
  Resources/Prototypes/Radium/InventoryTemplates/slug_inventory_template.yml
  Resources/Prototypes/Radium/Polymorphs/admin.yml
  Resources/Prototypes/Radium/Polymorphs/polymorph.yml
  Resources/Prototypes/Radium/Reagents/fun.yml
  Resources/Prototypes/Radium/Voice/speech_sounds.yml
  Resources/Textures/Radium/Mobs/SlugCat/parts.rsi/CatslugByVerySoft.png
  Resources/Textures/Radium/Mobs/SlugCat/parts.rsi/dead.png
  Resources/Textures/Radium/Mobs/SlugCat/parts.rsi/dead1.png
  Resources/Textures/Radium/Mobs/SlugCat/parts.rsi/meta.json
  Resources/Textures/Radium/Mobs/SlugCat/parts.rsi/slugcat.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#149 toys
  Resources/Audio/Radium/Radtoys/argemusScream.ogg
  Resources/Audio/Radium/Radtoys/meowrgh.ogg
  Resources/Audio/Radium/Radtoys/sonar.ogg
  Resources/Audio/Radium/Radtoys/virtual_scream.ogg
  Resources/Audio/Radium/Radtoys/virtual_snap.ogg
  Resources/Locale/ru-RU/radium/prototypes/entities/objects/fun/pda.ftl
  Resources/Prototypes/Radium/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Radium/Catalog/Fills/Crates/toys.yml
  Resources/Prototypes/Radium/Entities/Objects/Fun/toys.yml
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/RFRadio.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/abductor.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/abductor_agent.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/meta.json
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_CP.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_GSB.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_PCC.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_SO.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_barmem.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_bartender.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_bartender_full.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_capitan.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_chemist.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_coroner.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_engineer.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_paramedic.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_scientist.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/base/plushie_surgeon.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/bubbleplush.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/buddy-eyes.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/buddy.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/buddy_future.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/claw.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/claw_action.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/claw_broken.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/claw_playing.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/meta.json
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/niko.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/osman.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/penguin.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/penguin_cool.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/pkplush.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/plushie_pman.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/singuloose.png
  Resources/Textures/Radium/Objects/Fun/radplushes.rsi/stress_ball.png
  Resources/Textures/Radium/Objects/Fun/radplushes64.rsi/NukieCatslugByVerySoft.png
  Resources/Textures/Radium/Objects/Fun/radplushes64.rsi/argemia.png
  Resources/Textures/Radium/Objects/Fun/radplushes64.rsi/ham_ster.png
  Resources/Textures/Radium/Objects/Fun/radplushes64.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#148 Fix cargo and move bomb lemon mutation to lemon
  Resources/Prototypes/Corvax/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: No C#, Status: Needs Review

#157 labeler wiki
  .github/workflows/labeler-radium.yml
Labels: No C#

#156 Labeler update
  .github/labeler.yml
Labels: No C#

#159 Glowing bible
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
Labels: No C#

#150 damage for briefcase
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
Labels: No C#

#163 fix bug
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Resources/Locale/ru-RU/radium/store/store.ftl
Labels: Changes: Localization, Status: Needs Review, Changes: UI
